# Required: Set the Cyclos version (Docker tag).
# See https://hub.docker.com/r/cyclos/cyclos/tags for available versions.
# Note it is not recommended to use "latest" for production deployments,
# as upgrading between major versions requires testing and careful planning.
CYCLOS_VERSION=

# The number of physical Swarm nodes to run Cyclos. Adjust to your cluster.
REPLICAS=2

# The database connection details. Adjust to match your database configuration.
DB_HOST=db.example.com
DB_NAME=cyclos
DB_USER=cyclos

# The JVM memory available for Cyclos. Adjust based on your system's resources and expected load.
MAX_JVM_MEMORY=4096m