# Required: Set the Cyclos version (Docker tag).
# See https://hub.docker.com/r/cyclos/cyclos/tags for available versions.
# Note it is not recommended to use "latest" for production deployments,
# as upgrading between major versions requires testing and careful planning.
CYCLOS_VERSION=

# The domain, used for Let's Encrypt TLS certificate generation.
# If empty, will not use a certificate and serve via plain http://
DOMAIN=example.com

# The email address for Let's Encrypt registration and renewal notifications
LETS_ENCRYPT_EMAIL=you@example.com

# The JVM memory available for Cyclos. Adjust based on your system's resources and expected load.
MAX_JVM_MEMORY=4096m